[Unit]
Description=compute-pi
After=network.target

[Service]
Type=simple
ExecStart=/tmp/compute_pi 4 R &
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target
