[Unit]
Description=compute-pi
After=network.target

[Service]
Type=compute_pi
ExecStart=/tmp/compute_pi 4 G &
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target
